{{ define "main" }}
  <article>
    {{ if not (or (eq .Title "About") (eq .Section "about")) }}
      {{ if .Date }}
        <div class="post-meta">
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        </div>
      {{ end }}
    {{ end }}

    
    <!-- Image Section -->
    <!-- {{ if .Params.image }}
      <div class="project-image">
        <img src="{{ .Params.image }}" alt="{{ .Title }}" />
      </div>
    {{ end }} -->
    
    <!-- GitHub Button -->
    {{ if .Params.github }}
      <p><a href="{{ .Params.github }}" target="_blank" class="button">View on GitHub</a></p>
    {{ end }}
    
    <!-- Main Content -->
    {{ .Content }}
  </article>
{{ end }}
